<div class="modal fade" id="deleteProyectoModal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="text-center">
                    ¿Deseas eliminar el proyecto?<br>
                    <small class="bg-danger rounded text-white p-2">Una vez eliminado, no hay vuelta atras</small>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <a href="/proyectos/delete/{{id}}" class="btn btn-dark">Eliminar</a>
            </div>
        </div>
    </div>
</div>