{{!-- Inicio --}}
<section>
    <div class="card bg-dark text-white">
        {{!-- <img
            src="https://images.pexels.com/photos/3745234/pexels-photo-3745234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            class="card-img background-frontpage"> --}}
        <img src="https://cdn.oldskull.net/wp-content/uploads/2015/04/geometric-animations-9.gif"
            class="card-img background-frontpage">
        <div class="card-img-overlay heading-content text-center">
            <br><br><br>
            <img src="https://scontent.fagu2-1.fna.fbcdn.net/v/t1.6435-9/121165528_3377721238979707_8309660688733182869_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeFLJRUKMquSmtb8BvCj5ZPy5VoapwWNykTlWhqnBY3KRFdaBbu-gLOsmhNGl-CrLTNcja5ivFGK333WAJl5P4qD&_nc_ohc=0h7DNNwA7kQAX-4kP_d&_nc_ht=scontent.fagu2-1.fna&oh=00_AT8G8zUob7EbPDwp0v7Ye57JuzFy4nxWWERPrsoB0lFlIA&oe=62301932"
                class="img-frontpage mb-4">
            <h5 class="card-title">Hola, soy</h5>
            <h1 class="card-text">Juan Luis Noriega Gómez</h1>
            <p class="card-text">Y SOY DESARROLLADOR DE SOFTWARE</p>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid my-5">
        <h2 class="text-center text-white">ACERCA DE MI</h2>
        <hr class="w-75 bg-dark">
        <div class="row">
            <div class="col-md-10 mx-auto mt-3">
                <div class="row">
                    <div class="col col-12 col-md-12 col-sm-12 col-lg-4 text-center mt-4">
                        <img src="/images/Perfil.png" class="img-aboutMe">
                    </div>
                    <div class="col col-12 col-md-12 col-sm-12 col-lg-8 mt-4 text-white">
                        <h4>¿Quieres conocerme?</h4>
                        <hr class="bg-dark">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quia eius ducimus vitae, quasi
                        sit
                        labore quam rem perferendis. Voluptate repellendus voluptatibus molestias fuga quisquam corporis
                        ab
                        fugiat maiores quo.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="bg-secondary">
<section>
    <div class="container-fluid my-5">
        <h2 class="text-center text-white">MIS HABILIDADES</h2>
        <hr class="w-75 bg-dark">
        <div class="row">
            <div class="col-md-10 mx-auto mt-3">
                <div class="row">
                    <div class="col col-sm-12 col-md-12 d-block d-sm-none d-none d-sm-block d-md-none d-none d-md-block d-lg-none text-center mt-4">
                        <img src="/images/conocimientos.png" class="img-aboutMe mt-1">
                    </div>
                    <div class="col col-12 col-md-12 col-sm-12 col-lg-8 mt-4 text-white">
                        <h4>Mis habilidades son:</h4>
                        <hr class="bg-dark">
                        <div class="row justify-content-md-center aling-items-center p-4">
                            {{!-- {{#each familyusers}} --}}
                            <div class="col col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
                                <div class="card bg-dark text-center h-100 rounded project-sobresalir border-secondary">
                                    <div class="card-header text-white">
                                        <div class="row d-flex align-items-center">
                                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12">
                                                <img src="https://images.pexels.com/photos/3745234/pexels-photo-3745234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                                    class="img-card">
                                            </div>
                                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 mt-4">
                                                <h5 class="font-weight-bold text-white text-center">NodeJS</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body text-white">
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, qui. Minima
                                        maiores odio
                                        recusandae excepturi qui fuga neque possimus amet, suscipit, sunt quo nemo a
                                        pariatur sit
                                        tenetur nobis necessitatibus.
                                    </div>
                                </div>
                            </div>
                            {{!-- {{else}} --}}
                            {{!-- <h1 class="text-center mt-4">You have no family users added<br>
                                <small>Add a new user :D</small>
                            </h1> --}}
                            {{!-- {{/each}} --}}
                        </div>
                    </div>
                    <div class="col col-lg-4 d-none d-xl-block d-lg-block d-xl-none text-center mt-4">
                        <img src="/images/conocimientos.png" class="img-aboutMe mt-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="bg-secondary">
<section>
    <div class="container-fluid my-5">
        <h2 class="text-center text-white">MIS PROYECTOS</h2>
        <hr class="w-75 bg-dark">
        <div class="row justify-content-md-center aling-items-center p-4">
            {{!-- {{#each familyusers}} --}}
            <div class="col col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                <div class="card bg-dark text-center h-100 rounded project-sobresalir border-secondary">
                    <div class="card-header text-white">
                        <div class="row d-flex align-items-center">
                            <div class="col col-12 col-sm-12 col-md-4 col-lg-4">
                                <img src="https://images.pexels.com/photos/3745234/pexels-photo-3745234.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                                    class="img-card">
                            </div>
                            <div class="col col-12 col-sm-12 col-md-8 col-lg-8 mt-4">
                                <h5 class="font-weight-bold text-white text-center">Proyecto bla bla bla</h5>
                                <p><small>Desarrollado en la fecha tal</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body text-white">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, qui. Minima maiores odio
                        recusandae excepturi qui fuga neque possimus amet, suscipit, sunt quo nemo a pariatur sit
                        tenetur nobis necessitatibus.
                        <a href="" class="btn btn-light btn-block mt-3">Ver repositorio</a>
                    </div>
                </div>
            </div>
            {{!-- {{else}} --}}
            {{!-- <h1 class="text-center mt-4">You have no family users added<br>
                <small>Add a new user :D</small>
            </h1> --}}
            {{!-- {{/each}} --}}
        </div>
    </div>
</section>
<hr class="bg-secondary">
<section>
    <div class="container-fluid my-5">
        <h2 class="text-center text-white">CONTACTAME</h2>
        <hr class="w-75 bg-dark">
        <div class="row">
            <div class="col-md-10 mx-auto mt-3">
                <div class="row text-center">
                    <div class="col col-12 col-sm-12 col-md-2 col-lg-2 mb-4">
                        <a href="https://github.com/JuanLuisN" class="contact-link">
                            <i class="fab fa-github fa-2x"></i>
                            <p>github.com/JuanLuisN</p>
                        </a>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-2 col-lg-2 mb-4">
                        <a href="mailto:jl_noriega2000@hotmail.com" class="contact-link">
                            <i class="fas fa-envelope fa-2x"></i>
                            <p>Correo</p>
                        </a>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-2 col-lg-2 mb-4">
                        <a href="https://www.linkedin.com/in/juan-luis-noriega-g%C3%B3mez-259b60231/"
                            class="contact-link">
                            <i class="fab fa-linkedin fa-2x"></i>
                            <p>Linkedin</p>
                        </a>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-2 col-lg-2 mb-4">
                        <a href="https://www.instagram.com/jl._.luis/" class="contact-link">
                            <i class="fab fa-instagram fa-2x"></i>
                            <p>Instagram</p>
                        </a>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-2 col-lg-2 mb-4">
                        <a href="https://www.facebook.com/profile.php?id=100077916473982" class="contact-link">
                            <i class="fab fa-facebook fa-2x"></i>
                            <p>Facebook</p>
                        </a>
                    </div>
                    <div class="col col-12 col-sm-12 col-md-2 col-lg-2 mb-4">
                        <a href="https://twitter.com/JuanLuisKnife" class="contact-link">
                            <i class="fab fa-twitter fa-2x"></i>
                            <p>Twitter</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>