<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom fixed-top">
    <a class="navbar-brand" id="nav-link" href="https://github.com/JuanLuisN" target="_blank"><i class="fab fa-github fa-2x"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            {{#if user}}
            <li class="nav-item">
                <a class="nav-link mr-3" id="nav-link" href="/"><i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" id="nav-link" href="/descripciones"><i class="fas fa-id-badge"></i> Descripciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" id="nav-link" href="/habilidades"><i class="fas fa-info"></i> Habilidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" id="nav-link" href="/proyectos"><i class="fas fa-lightbulb"></i> Proyectos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button"
                    data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user" aria-hidden="true"></i> {{user.fullname}}
                </a>
                <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownUser">
                    <a class="dropdown-item" id="nav-link" href="/profile"><i class="fa fa-address-book" aria-hidden="true"></i>
                        Perfil</a>
                    <a class="dropdown-item" id="nav-link" href="/logout"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                        Cerrar sesión</a>
                </div>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link mr-3" id="nav-link" href="#Inicio"><i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" id="nav-link" href="#AcercaDeMi"><i class="fas fa-info"></i> Acerca de mi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" id="nav-link" href="#MisHabilidades"><i class="fas fa-lightbulb"></i> Mis habilidades</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" id="nav-link" href="#MisProyectos"><i class="fas fa-project-diagram"></i> Mis proyectos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" id="nav-link" href="#Contacto"><i class="fas fa-id-badge"></i> Contacto</a>
            </li>
            {{/if}}
        </ul>
    </div>

</nav>