<div class="container p-4 mt-5"> <br>
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card text-center bg-dark border-secondary">
                <div class="card-header text-white">
                    <i class="fas fa-user fa-7x mb-4"></i>
                    <h3>LOGIN</h3>
                </div>
                <div class="card-body">
                    <form action="/signin" method="POST">
                        <div class="form-group">
                            <input type="text" name="correo" placeholder="Correo" class="form-control" autofocus required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="contra" placeholder="Contraseña" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-light btn-block">
                                Iniciar sesión
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>